@model MusicQuiz.Web.Models.Home.MusicQuizViewModel
@{
    ViewData["Title"] = "Quiz";
}
@section Scripts {
    <script src="~/js/selectTopic.js"></script>

@* will not work when in any JS file *@
    <script>
        function selectOption(topic, className) {
            document.getElementById("selectedTopic").value = topic;
            var options = document.getElementsByClassName(className);
            for (var i = 0; i < options.length; i++) {
                options[i].classList.remove("selected");
            }
            document.getElementById(topic).classList.add("selected");
            document.getElementById("quizForm").submit(); // Submit the form automatically
        }

        function validateForm() {
            var selectedTopic = document.getElementById("selectedTopic").value;
            if (!selectedTopic) {
                alert("Please select a topic.");
                return false;
            }
            return true;
        }
    </script>
}
<h1>@ViewData["Title"]</h1>
<hr />

<h2 class="centered">Select a topic</h2>

<form id="quizForm" method="post" action="/Quiz/SelectDifficulty" onsubmit="return validateForm()">
    <ul class="quiz-options-list">
        @foreach (var topic in Model.Topics)
        {
            <div class="quiz-option text-center" id="@topic.Topic" onclick="selectOption('@topic.Topic', 'quiz-option')">
                @topic.Description
            </div>
        }
    </ul>
    <input type="hidden" id="selectedTopic" name="selectedTopic" value="@Model.SelectedTopic" />
    <div class="d-flex flex-column align-items-center" style="width: 100%;">
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary w-100" style="max-width: 300px;">Cancel</a>
    </div>
</form>
