@model MusicQuiz.Web.Models.Home.MusicQuizViewModel
@{
    ViewData["Title"] = "Difficulty select";
}
@section Scripts {
    <script src="~/js/selectDifficulty.js"></script>

    @* will not work when in any JS file *@
    <script>
        function selectOption(difficulty, className) {
            document.getElementById("selectedDifficulty").value = difficulty;
            var options = document.getElementsByClassName(className);
            for (var i = 0; i < options.length; i++) {
                options[i].classList.remove("selected");
            }
            document.getElementById(difficulty).classList.add("selected");
            document.getElementById("submitButton").disabled = false;
        }

        function validateForm() {
            var selectedDifficulty = document.getElementById("selectedDifficulty").value;
            if (!selectedDifficulty) {
                alert("Please select a difficulty level.");
                return false;
            }
            return true;
        }
    </script>
}

<h1>Select a difficulty</h1>

<form method="post" action="/Quiz/Start" onsubmit="return validateForm()">
    <ul class="quiz-options-list">
        @foreach (var difficulty in Model.Difficulty)
        {
            var isDisabled = (User.Identity == null || !User.Identity.IsAuthenticated) && difficulty.DifficultyLevel != MusicQuiz.Core.Enums.DifficultyLevel.Easy;
            if (isDisabled)
            {
                <li class="quiz-option text-center disabled" id="@difficulty.DifficultyLevel">
                    <i class="fas fa-lock"></i> @difficulty.Description
                    <p>Please log in or create an account to access these levels.</p>
                </li>
            }
            else
            {
                <li class="quiz-option text-center" id="@difficulty.DifficultyLevel" onclick="selectOption('@difficulty.DifficultyLevel', 'quiz-option')">
                    @difficulty.Description
                </li>
            }
        }
    </ul>
    <input type="hidden" id="selectedTopic" name="selectedTopic" value="@Model.SelectedTopic" />
    <input type="hidden" id="selectedDifficulty" name="selectedDifficulty" value="@Model.SelectedDifficulty" />
    <div class="d-flex flex-column align-items-center" style="width: 100%;">
        <button type="submit" id="submitButton" class="btn btn-danger w-100 mb-2" style="max-width: 300px;" disabled>Select</button>
        <a asp-action="Index" class="btn btn-secondary w-100" style="max-width: 300px;">Cancel</a>
    </div>
</form>