@model MusicQuiz.Models.MusicQuizViewModel
@{
    ViewData["Title"] = "Difficulty select";
}
@section Scripts {
    <script src="~/js/selectDifficulty.js"></script>
}

<h1>Select a difficulty</h1>

<form method="post" action="/Quiz/Start">
    <div>
        @foreach (var difficulty in Model.Difficulty)
        {
            <div class="quiz-option" id="@difficulty.DifficultyLevel" onclick="selectOption('@difficulty.DifficultyLevel', 'quiz-option')">
                @difficulty.Description
            </div>
        }
    </div>
    <input type="hidden" id="selectedTopic" name="selectedTopic" value="@Model.SelectedTopic" />
    <input type="hidden" id="selectedDifficulty" name="selectedDifficulty" value="@Model.SelectedDifficulty" />
    <button type="submit">Select</button>
</form>

