@model MusicQuiz.Models.MusicQuizViewModel
@{
    ViewData["Title"] = "Difficulty select";
}
@section Scripts {
    <script src="~/js/quiz.js"></script>
    <script src="~/js/selectDifficulty.js"></script>
}

<h1>You have selected @Model.SelectedTopic at @Model.SelectedDifficulty level</h1>

<h2>Now lets start</h2>

<h1>@Model.Question</h1>

<audio controls>
    <source src="@Model.MusicQuestionFilePath" type="audio/wav">
    Your browser does not support the audio element.
</audio>

<form method="post" action="/Quiz/SubmitAnswer">
    <div>
        @foreach (var option in Model.Options)
        {
            <div>
                <input type="radio" id="@option" name="selectedOption" value="@option">
                <label for="@option">@option</label>
            </div>
        }
    </div>
    <input type="hidden" name="correctAnswer" value="@Model.CorrectAnswer" />
    <button type="submit">Submit</button>
</form>
