@model MusicQuiz.Web.Models.Quiz.QuestionViewModel
@{
    ViewData["Title"] = "Quiz";
    var currentQuestionIndex = ViewBag.CurrentQuestionIndex as int? ?? 0;
    var totalQuestions = ViewBag.TotalQuestions as int? ?? 0;
    var answer = Model.UserAnswer;
    var assessmentID = ViewBag.AssessmentID ?? 0;
}

@section Scripts {
    <script src="~/js/selectAnswerAssessment.js"></script>
    <script src="~/js/enableButtons.js?v=@DateTime.Now.Ticks"></script>
}

<h1>@Model.SelectedTopic Assessment</h1>
<hr />
<h2 class="center-content">Question @(currentQuestionIndex + 1)</h2>

<div class="center-content">
    @if (!string.IsNullOrEmpty(Model.MusicReferenceFilePath))
    {
        <div class="audio-player">
            <p>Listen to the audio below and answer the question. The file below is <strong>@Model.MusicReferenceName</strong></p>
            <audio controls>
                <source src="@Model.MusicReferenceFilePath" type="audio/*">
                <source src="@Model.MusicReferenceFilePath" type="audio/mpeg">
                <source src="@Model.MusicReferenceFilePath" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
        </div>
    }
    <div class="audio-player">
        <p>@Model.Question</p>
        <audio controls>
            <source src="@Model.MusicQuestionFilePath" type="audio/*">
            <source src="@Model.MusicQuestionFilePath" type="audio/mpeg">
            <source src="@Model.MusicQuestionFilePath" type="audio/ogg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>

<form method="post" action="/Assessment/NextQuestion">
    <div>
        @foreach (var option in Model.OptionsForQuiz)
        {
            <div class="option option-center @(answer?.Equals(option) ?? false ? "selected" : "")" id="@option">
                <input type="radio" id="@option-radio" name="selectedOption" value="@option" @(answer?.Equals(option) ?? false ? "checked" : "") style="display: none;">
                <label for="@option-radio">@option</label>
            </div>
        }
    </div>
    <input type="hidden" name="assessmentID" value="@ViewBag.AssessmentID" />
    <input type="hidden" id="selectedOption" name="selectedOption" value="" />
    <input type="hidden" name="correctAnswer" value="@Model.CorrectAnswer" />
    <hr />
    <div class="button-container">
        <button type="button" onclick="submitPreviousForm()" class="btn btn-secondary btn-lg" @(currentQuestionIndex == 0 ? "disabled" : "")>Previous</button>
        <button type="submit" id="nextButton" class="btn btn-secondary btn-lg" @(currentQuestionIndex == totalQuestions - 1 ? "Complete" : "Next") disabled>Next</button>
    </div>
    <hr />
</form>

<form id="previousForm" method="post" action="/Quiz/PreviousQuestion" style="display:none;"></form>